<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Дистанционная система проверки задач</title>
        <link href="../static/bootstrap.css" rel="stylesheet">
        <link href="../static/jumbotron-narrow.css" rel="stylesheet">
        <script src="../static/js/jquery-3.3.1.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="/userHomeAdmin">Выбор задачи</a>
                        </li>
                        <li role="presentation"><a href="/logout">Выйти</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">Дистанционная система проверки задач</h3>
            </div>
            <section>
                <div class="jumbotron">
                    <form enctype="multipart/form-data" class="form-horizontal" method="post" action="/addTask">
                        <fieldset>
                            <!-- Form Name -->
                            <h2>Создание задачи</h2>
                            <!-- Text input-->
                            <div class="form-group">
                                <p class="col-md-4 control-label" style="display: table-cell; padding-top: 0px;">Название:</p>
                                <div class="col-md-8" style="display: table-cell;">
                                    <input id="txtTitle" name="inputTitle" type="text" class="form-control input-md">
                                </div>
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <p class="col-md-4 control-label" style="display: table-cell; padding-top: 0px;" >Описание:</p>
                                <div class="col-md-8" style="display: table-cell;">
                                    <textarea class="form-control" id="txtPost" name="inputDescription"></textarea>
                                </div>
                            </div>
                            <!-- File input -->
                            <div class="form-group">
                                <p class="col-md-4 control-label" style="display: table-cell; padding-top: 0px;">Тест-кейсы:</p>
                                <div class="col-md-8" style="display: table-cell;">
                                    <p><input type="file" name="file" /></p>
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input  id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Опубликовать" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </section>
            <footer class="footer">
                <p>&copy; Куслин Илья, гр.454, СПбГТИ(ТУ), 2019</p>
            </footer>
        </div>
    </body>
</html>