<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Дистанционная система проверки задач</title>
        <link href="../static/bootstrap.css" rel="stylesheet">
        <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="/signIn">Вход</a>
                        </li>
                        <li role="presentation"><a href="/signUp">Регистрация</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">Дистанционная система проверки задач</h3>
            </div>
            <div class="jumbotron">
                <h1>Дистанционная система проверки задач</h1>
                <h3>Сайт, позволяющий студентам кафедры САПРиУ тестировать код, написанный в рамках лабораторных работ.</h3>
                <p class="lead"></p>
                <p><a class="btn btn-lg btn-success" href="/signIn" role="button">Войти в систему</a>
                </p>
            </div>
            <div class="row marketing">
                <h4>Начало разработки</h4>
                <p>В скором времени сайт заработает, и здесь можно будет видеть новостную ленту.</p>
            </div>
            <footer class="footer">
                <p>&copy; Куслин Илья, гр.454, СПбГТИ(ТУ), 2019</p>
            </footer>
        </div>
    </body>
</html>